*,*::after,*::before{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

body{
  font-family: var(--font-info);
  font-weight: 200;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
}

.container{
  max-width: 1620px;
  margin: 0 auto;
}

/* HEADER START */
.header{
  background-color: black;
  color: white;
  padding: 0 20px;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__wrap{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 5px 0;
}

.header a{
  text-decoration: none;
}

.header__left{
  cursor: pointer;
}

.header__mid{
  font-family: var(--font-title);
  font-size: 36px;
  color: white;
}

.header__right{
  justify-self: right;
}

.header img{
  width: 32px;
}

.header__right a{
  margin-right: 20px;
}

.header__right a:last-child{
  margin-right: 0;
}

/* HEADER OVERLAY START */
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.overlay__active{
  opacity: 1;
}

.no__scroll{
  overflow: hidden;
}
/* HEADER OVERLAY END */

@media (max-width: 425px){
  .header img{
    width: 28px;
  }

  .header__mid{
    font-size: 30px;
  }

  .header__right a{
    margin-right: 10px;
  }
}

/* SIDE MENU START */
.sliderbar{
  position: fixed;
  top: 0;
  left: -100vw;
  width: 25%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 40px;
  transition: ease 0.5s;
  z-index: 30;
}

.sliderbar__wrap a{
  display: block;
  color: inherit;
  text-transform: uppercase;
  padding-bottom: 10px;
  text-align: right;
}

.active {
  left: 0;
}

@media (max-width: 1024px){
  .sliderbar{
    width: 50%;
  }
}

@media (max-width: 768px){
  .sliderbar{
    padding: 40px 20px;
  }
}

@media (max-width: 425px){
  .sliderbar{
    width: 100%;
  }
}
/* SIDE MENU END */
/* HEADER END */

/* FOOTER START */
.footer{
  background-color: black;
  color: white;

  padding-bottom: 50px;
}

.footer a{
  color: inherit;
}

.footer__wrap{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px;
}

.footer__column a{
  display: block;
  text-decoration: none;
  transition: ease 0.3s;
}

.footer__column a:hover{
  color: rgb(170, 170, 170);
}


.footer__logo{
  font-family: var(--font-title);
  text-align: center;
  padding: 50px 0;
  font-size: 60px;
}

@media (max-width: 1024px){
  .footer__wrap{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px){
  .footer__wrap{
    grid-template-columns: repeat(1, 1fr);
  }
}
/* FOOTER END */

/* MAIN START */
/* MAIN BANNER START*/
.mainbanner{
  background-image: url(/img/bg1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  padding: 0 20px;
  align-content: center;
}

.main__title{
  font-family: var(--font-title);
  font-size: 128px;
  width: 600px;
}

.main__info{
  width: 50%;
  padding-top: 50px;
}

@media (max-width: 1024px){
  .mainbanner{
    height: 800px;
  }

  .main__title{
    font-size: 120px;
  }

  .main__info{
    width: 50%;
  }
}

@media (max-width: 768px){
  .mainbanner{
    height: 700px;
  }

  .main__title{
    font-size: 112px;
    width: 400px;
  }

  .main__info{
    width: 100%;
    padding-top: 20px;
  }
}

@media (max-width: 425px){
  .mainbanner{
    height: 600px;
  }

  .main__title{
    font-size: 80px;
    width: 300px;
  }

  .main__info{
    font-size: 16px;
  }
}
/* MAIN BANNER END*/

/* MAIN SLIDER START*/
.mainslider{
  margin: 50px 0;
}

.swiper{
  --swiper-navigation-size: 28px;
  --swiper-navigation-top-offset: 90%;
  --swiper-navigation-sides-offset: 20px;
  --swiper-navigation-color: black;

  --swiper-pagination-color: black;
  --swiper-pagination-bottom: 20px;
}

.mainslider__wrap{
  text-align: center;
}

.main__slider__pic__wrap{
  text-decoration: none;
  position: relative;
}

.main__slider__pic{
  width: 100%;
  object-fit: cover;
}

.main__slider__pic__wrap div{
  color: black;
}

.main__slider__info{
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
}

.main__slider__title{
  text-transform: uppercase;
  font-family: var(--font-info);
}

.main__slider__price{
  font-family: var(--font-title);
  font-size: 24px;
}

.button{
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px 50px;
  text-transform: uppercase;
  
  display: inline-block;

  margin-top: 10px;
}
/* MAIN SLIDER END*/

/* MAIN BANNER 1 START */
.banner1{
  padding-bottom: 50px;
}

.banner1__wrap{
  display: flex;
  align-items: end;
}

.banner1__img{
  width: 60%;
}

.banner__info{
  padding: 0 20px;
}

.title{
  font-family: var(--font-title);
  font-size: 32px;
  padding-bottom: 20px;
}

@media (max-width: 1024px){
  .banner1__wrap{
    display: block;
  }

  .banner1__img{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-top: 20px;
  }

  .banner2 .banner1__img{
    margin-left: 0;
    margin-bottom: 20px;
  }

  .banner__info{
    width: 80%;
  }

  .banner2 .banner__info{
    margin-left: auto;
  }
}

@media (max-width: 768px){
  .banner1__img{
    width: 90%;
    height: 400px;
    object-fit: cover;
    object-position: 50% center;
  }

  .banner__info{
    width: 90%;
  }
}

@media (max-width: 425px){
  .banner1{
    font-size: 16px;
  }

  .title{
    font-size: 24px;
  }

  .banner1__img{
    width: 90%;
    height: 300px;
  }

  .banner__info{
    width: 100%;
  }
}
/* MAIN BANNER 1 END */

/* MAIN BANNER 2 START */
.banner2 .banner__info{
  text-align: right;
}
/* MAIN BANNER 2 END */

/* MAIN BANNER 3 START */
.banner3{
  margin-bottom: 50px;
  padding-bottom: 0;
  padding-top: 100px;
  background-image: url(/img/banner3.png);
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.banner3 .banner__info{
  width: 100%;
}

@media (max-width: 425px){
  .banner3{
    height: 500px;
  }
}
/* MAIN BANNER 3 END */
/* MAIN END */

/* ITEM PAGE START */
.item__bigimg{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.item__page__wrap{
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item__pagebuy__wrap{
  justify-self: right;
  width: 400px;
  position: sticky;
  top: 60px;
}

.item__pagebuy__wrap .button{
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.item__orderinfo{
  font-size: 14px;
}

.item__title__wrap{
  padding-bottom: 50px;
}

.item__title{
  text-transform: uppercase;
  font-size: 24px;
  padding-bottom: 10px;
}

.item__price{
  font-family: var(--font-title);
  font-size: 28px;
}

.item__moreinfo{
  padding-bottom: 20px;
}

.item__moreinfo:last-child{
  padding-bottom: 0;
}

.item__minititle{
  text-transform: uppercase;
  font-size: 16px;
}

.item__miniinfo{
  font-size: 16px;
  padding-left: 20;
}

.item__recs{
  padding: 50px 0 80px;
}

.item__recs__title{
  text-align: center;
  font-family: var(--font-title);
  font-size: 28px;
  padding-bottom: 20px;
}

@media (max-width: 768px){
  .item__page__wrap{
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .item__title__wrap{
    padding-bottom: 10px;
  }

  .item__title{
    font-size: 20px;
  }

  .item__price{
    font-size: 24px;
  }

  .item__pagebuy__wrap{
    justify-self: auto;
    width: 100%;
    position: static;
    top: 0;
    padding-bottom: 40px;
  }
}
/* ITEM PAGE END */

/* STORE START */
.store__banner{
  background-image: url(/img/storebanner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  padding: 0 20px;
  align-content: center;
}

.store__items__wrap{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}

.itemcard{
  position: relative;
  overflow: hidden;
}

.itemcard__info__wrap{
  color: black;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 0;
  left: -100%;
  transition: ease 0.3s;
}

.itemcard:hover .itemcard__info__wrap{
  left: 0;
}

.itemcard__img{
  display: block;
  width: 100%;
  min-height: 350px;
  object-fit: cover;
}

@media (max-width: 1024px){
  .store__banner{
    height: 800px;
  }

  .store__items__wrap{
    grid-template-columns: repeat(3, 1fr);
  }

  .itemcard__img{
    min-height: 300px;
  }

  .itemcard__info__wrap{
    left: 0;
  }
}

@media (max-width: 768px){
  .store__banner{
    height: 700px;
  }

  .itemcard .main__slider__title{
    font-size: 16px;
  }

  .itemcard .main__slider__price{
    font-size: 20px;
  }

  .store__items__wrap{
    grid-template-columns: repeat(2, 1fr);
  }

  .itemcard__info__wrap{
    padding: 10px;
  }

  .itemcard__img{
    min-height: 250px;
  }
}

@media (max-width: 425px){
  .store__banner{
    height: 600px;
  }

  .store__items__wrap{
    grid-template-columns: repeat(1, 1fr);
  }
}
/* STORE END */